<html>
<head>
    <title>Plugins monitor</title>
    <meta name="decorator" content="atl.admin" />
    $webResourceManager.requireResource("ru.bia.jira.plugins.PluginMonitor:PluginMonitor-resources")

</head>
<body>

<h1>Universal plugin monitor.</h1>.

<table class='restful'>
</table>

</html>